* {
    
    text-align: center;
}
div {
    width: 300px;

}
.square {

  text-align: center;
  font-size:80px;
  

}
#ttt {
    display: none;
}
div div {
    width: 100px;
    height: 100px;
    outline: 1px solid;
    float: left;
}
