* {
  text-align: center;
  margin: auto;
  font-size: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
body {
  background-color: antiquewhite;
}
a {
  font-size: 30px;
}
div {
  width: 600px;
}
.square {
  text-align: center;
  font-size: 160px;
}
.pic {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.title {
  font-size: 100px;
  font-weight: bolder;
}
.class {
  align-content: center;
}
#ttt {
  display: none;
}
div div {
  width: 200px;
  height: 200px;
  outline: 2px solid;
  float: left;
}
